@charset "utf-8";

.banner {
	width: 100%;
	min-width: 1200px;
	height: 450px;
	background-color: #6b6c6e;
	min-width: 1200px;
	margin: 0 auto;
}

.swiper-container {
	width: 100%;
	height: 100%;
	background-color: #6b6c6e;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.pagination {
	position: absolute;
	left: 0;
	text-align: center;
	/*bottom: 35px;*/
	bottom: 10px;
	width: 100%;
}

.swiper-pagination-switch {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: #fff;
	opacity: 0.9;
	margin-right: 4px;
}

.swiper-active-switch {
	width: 40px;
	height: 22px;
	border-radius: 11px;
	background: #de3f05;
	opacity: 1;
}

.Slide {
	display: block;
	width: 100%;
	height: 100%;
	background: #6b6c6e url("../../images/banner/banner-1.jpg") no-repeat center center;
}

.Slide a {
	display: block;
	width: 100%;
	height: 100%;
}

.Slide1 {
	background-image: url("../../images/banner/banner-1.jpg");
}

.Slide2 {
	background-image: url("../../images/banner/banner-2.jpg");
}

.Slide3 {
	background-image: url("../../images/banner/banner-3.jpg");
}

.Slide4 {
	background-image: url("../../images/banner/banner-4.jpg");
}

.Slide5 {
	background-image: url("../../images/banner/banner-5.jpg");
}
