@charset "utf-8";

.banner {
    width: 100%;
    height: 450px;
    background-color: #292a2c;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background-color: #6b6c6e;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    /*bottom: 35px;*/
    bottom: 10px;
    width: 100%;
}

.swiper-pagination-switch {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.9;
    margin-right: 4px;
}

.swiper-active-switch {
    width: 40px;
    height: 22px;
    border-radius: 11px;
    background: #de3f05;
    opacity: 1;
}

.Slide {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Slide a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.Slide a img {
    outline: none 0;
    border: none 0;
    width: 100%;
    height: 100%;
}