/*广告主子页面css*/
.adv-user-common {
    color: #000;
}

.adv-user-flow {
    width: 100%;
    margin: 60px auto 0 auto;
    overflow: hidden;
}

.adv-user-flow-item {
    float: left;
    width: 599px;
    height: 620px;
}

.adv-user-flow-item-icon {
    display: block;
    width: 304px;
    height: 304px;
    margin: 0 auto;
    background: url("../images/adv-user-flow-item-icon.png") no-repeat 0 0;
}

.adv-user-flow-item-icon-2 {
    background-position: -314px 0;
}

.adv-user-title {
    width: 100%;
    text-align: center;
}

.adv-user-title span {
    display: block;
    font-size: 30px;
    color: #008eff;
    line-height: 50px;
    margin-top: 30px;
    font-weight: bold;
}

.adv-user-title i {
    display: block;
    width: 56px;
    height: 6px;
    font-size: 0;
    line-height: 4px;
    border-radius: 2px;
    background-color: #008eff;
    margin: 0 auto;
}

.adv-user-account {
    font-size: 20px;
    line-height: 40px;
    width: 430px;
    margin: 20px auto 0 auto;
}

.adv-user-flow-item-sep {
    float: left;
    width: 2px;
    height: 620px;
    font-size: 0;
    background-image: url("../images/adv-user-flow-item-sep.png");
}

.adv-user-logo {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 60px;
}

.adv-user-logo-sort {
    float: left;
    font-size: 30px;
    line-height: 100px;
    font-weight: bold;
}

.adv-user-logo-sep {
    float: left;
    width: 120px;
    height: 2px;
    overflow: hidden;
    background-image: url("../images/adv-user-logo-sep.png");
    margin-left: 20px;
    margin-top: 49px;
}

.adv-user-logo-bar {
    float: right;
    height: 100px;
    overflow: hidden;
}

.adv-user-logo-bar li {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 36px;
}

.adv-user-logo-bar .adv-user-logo-last {
    margin-right: 0;
}

.adv-user-logo-bar li img {
    width: 100px;
    height: 100px;
}

.adv-info-bg {
    min-width: 1200px;
    width: 100%;
    color: #fff;
    height: 1200px;
    background:url("../images/adv-info-bg.png") no-repeat center center;
    background-size: cover;
}

.ad-info-center {
    width: 1200px;
    margin: 0 auto;
    height: 1200px;
    position: relative;
}

.ad-info-mid {
    width: 1200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.adv-info-link {
    display: block;
    width: 240px;
    height: 56px;
    font-size: 16px;
    color: #fff;
    line-height: 56px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 28px;
    box-sizing: border-box;
    margin-top: 20px;
    font-weight: bold;
}

.adv-info-link:hover,
.adv-info-link:active {
    background-color: #0078d7;
    color: #fff;
    border: 2px solid #0078d7;
}

.adv-info-detail {
    width: 1200px;
    overflow: hidden;
    margin: 60px auto;
}

.adv-info-part {
    float: left;
    padding: 40px 40px 0 40px;
    width: 220px;
    height: 560px;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
}

.adv-info-part-icon {
    display: block;
    width: 100px;
    height: 120px;
    background-image: url("../images/adv-info-part-icon.png");
}

.adv-info-part-txt {
    font-size: 30px;
    font-weight: bold;
    color: #008eff;
    line-height: 40px;
    margin: 30px 0;
}

.adv-info-part-det {
    font-size: 20px;
    line-height: 40px;
}

.adv-info-list {
    float: left;
    width: 900px;
    overflow: hidden;
}

.adv-info-list-item {
    float: left;
    padding: 40px 30px 0 30px;
    width: 340px;
    height: 250px;
    margin-left: 50px;
    background-color: rgba(0,0,0,.6);
}

.adv-info-list-item-mt {
    margin-bottom: 20px;
}

.adv-info-list-item-icon {
    display: block;
    width: 72px;
    height: 72px;
    overflow: hidden;
    background: url("../images/adv-info-list-item-icon.png") no-repeat 0 0;
}

.adv-info-list-item-icon-2 {
    background-position: -82px 0;
}

.adv-info-list-item-icon-3 {
    background-position: -164px 0;
}

.adv-info-list-item-icon-4 {
    background-position: -246px 0;
}

.adv-info-list-item-txt {
    font-size: 30px;
    font-weight: bold;
    color: #008eff;
    line-height: 48px;
}

.adv-info-list-item-det {
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
}

.adv-reverse-pro {
    width: 100%;
    height: 650px;
}

.adv-reverse-pro-center {
    width: 1200px;
    margin: 0 auto;
    padding-top: 90px;
}

.adv-reverse-pro-img {
    float: left;
    margin-top: 35px;
    width: 600px;
    height: 400px;
    background-image: url("../images/adv-reverse-pro-img.png");
}

.adv-reverse-pro-dec {
    float: right;
    width: 600px;
    color: #000;
}

.adv-reverse-pro-title {
    font-size: 46px;
    line-height: 80px;
    padding: 40px 0;
    font-weight: bold;
    text-align: left;
}

.adv-reverse-pro-content {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.adv-global-app {
    width: 880px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
}

.adv-global-app-dec {
    float: left;
    width: 230px;
    height: 1px;
    background-color: #737373;
    margin-top: 20px;
    font-size: 0;
}

.adv-global-app-txt {
    float: left;
    width: 405px;
    font-size: 20px;
    line-height: 40px;
    color: #404040;
    text-align: center;
}

.adv-global-app-item {
    float: left;
    display: inline;
    width: 240px;
    height: 100px;
}

.adv-global-app-item img {
    width: 240px;
    height: 100px;
}

.adv-partner-bg {
    height: 400px;
    background:url("../images/adv-partner-bg.png") no-repeat center center;
    background-size: cover;

}

.public-partner-center {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: table;
}

.public-partner-detail {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.adv-partner-title {
    width: 100%;
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 32px;
    font-weight: bold;
}

.adv-partner-content {
    width: 100%;
    height: 56px;
}

.adv-partner-contact {
    display: block;
    width: 240px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    margin: 60px auto 0 auto;
    border: 2px solid #fff;
    border-radius: 26px;
    color: #fff;
    font-size: 18px;
}

.adv-partner-contact:hover {
    background-color: #008eff;
    border: 2px solid #008eff;
}

/*开发者页面*/
.expand-mode {
    width: 100%;
}

.expand-mode-center {
    width: 1200px;
    margin: 0 auto;
}

.expand-fast {
    height: 200px;
    overflow: hidden;
}

.expand-fast-item {
    float: left;
    width: 240px;
    height: 175px;
    padding-top: 25px;
}

.expand-fast-icon {
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-size: 0;
    background: url("../images/expand-fast-icon.png") no-repeat 0 0;
}

.expand-fast-icon2 {
    background-position: -240px 0;
}

.expand-fast-icon3 {
    background-position: -480px 0;
}

.expand-fast-icon4 {
    background-position: -720px 0;
}

.expand-fast-icon5 {
    background-position: -960px 0;
}

.expand-fast-item a {
    display: block;
    line-height: 75px;
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.expand-fast-item a:hover,
.expand-fast-item a:active {
    color: #008eff;
}

.expand-fast-item-lar {
    float: left;
    width: 300px;
    height: 175px;
    padding-top: 25px;
}

.expand-fast-data-icon {
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-size: 0;
    background: url("../images/expand-fast-data-icon.png") no-repeat 0 0;
}

.expand-fast-data-icon2 {
    background-position: -300px 0;
}

.expand-fast-data-icon3 {
    background-position: -600px 0;
}


.expand-fast-data-icon4 {
    background-position: -900px 0;
}

.expand-fast-data-txt {
    display: block;
    line-height: 75px;
    font-size: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.expand-fast-data-txt:hover,
.expand-fast-data-txt:active {
    color: #008eff;
}

.expand-ue-pro {
    width: 100%;
}

.expand-ue-pro-center {
    width: 1200px;
    margin: 0 auto;
}

.expand-ue-pro-bar {
    width: 1200px;
    height: 800px;
}

.expand-ue-pro-img {
    float: left;
    margin-top: 80px;
    width: 500px;
    height: 640px;
    background-image: url("../images/expand-ue-pro-img.png");
}

.expand-ue-pro-dec {
    float: right;
    width: 700px;
    color: #000;
    height: 800px;
    position: relative;
}

.expand-ue-pro-sur {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.expand-ue-pro-title {
    font-size: 46px;
    line-height: 80px;
    padding: 40px 0;
    font-weight: bold;
    text-align: left;
}

.expand-ue-pro-content {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.expand-acc-pro-img {
    float: left;
    margin-top: 175px;
    width: 680px;
    height: 450px;
    background-image: url("../images/expand-acc-pro-img.png");
}

.expand-acc-pro-dec {
    float: right;
    width: 500px;
    color: #000;
    height: 800px;
    position: relative;
}

.expand-acc-pro-dec-small {
    float: right;
    width: 500px;
    color: #000;
    height: 650px;
    position: relative;
}

.expand-coo-pro {
    width: 100%;
    color: #000;
}

.expand-coo-pro-dec-l {
    display: block;
    width: 162px;
    height: 134px;
    overflow: hidden;
    background: url("../images/expand-coo-pro-dec.png") no-repeat 0 0;
}

.expand-coo-pro-dec-r {
    float: right;
    background-position: -172px 0;
}

.expand-coo-pro-txt {
    width: 876px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 40px;
}

.expand-coo-pro-txt-r {
    overflow: hidden;
}

.expand-coo-pro-au {
    float: right;
    display: inline;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    color: #000;
    margin-right: 15px;
}

.expand-coo-pro-line {
    float: right;
    display: inline;
    width: 50px;
    height: 1px;
    font-size: 0;
    margin-top: 20px;
    background-color: #000;
}

.expand-coo-logo {
    width: 1200px;
    overflow: hidden;
}

.expand-coo-gat {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background: url("../images/expand-coo-pro-more.png");
}

.expand-coo-gat span {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-weight: bold;
    color: #313131;
}

.expand-coo-gat-dec {
    display: block;
    width: 80px;
    height: 20px;
    background: url("../images/expand-coo-pro-more-d.png") no-repeat;
    overflow: hidden;
    margin-left: 160px;
}

.expand-tra {
    width: 100%;
}

.expand-tra-center {
    width: 1200px;
    margin: 0 auto;
}

.expand-tra-sd {
    width: 100%;
    overflow: hidden;
    color: #000;
}

.expand-tra-sd h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    margin: 50px 0;
}

.expand-tra-gat {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.expand-tra-item {
    float: left;
    width: 400px;
    overflow: hidden;
}

.expand-tra-icon {
    float: left;
    width: 115px;
    height: 115px;
    overflow: hidden;
/*    margin-top: 25px;*/
    margin-right: 30px;
}

.expand-tra-icon img {
    width: 115px;
    height: 115px;
}

.expand-tra-col {
    float: left;
    font-size: 16px;
    color: #000;
}

.expand-tra-col h2 {
    height: 25px;
    /*line-height: 25px;*/
    line-height: 50px;
    font-size: 20px;
}

.expand-tra-txt {
    font-size: 15px;
    line-height: 25px;
    margin: 10px 0;
}

.expand-tra-link {
    display: block;
    width: 120px;
    height: 26px;
    border-radius: 15px;
    border: 2px solid #000;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.expand-tra-link:hover,
.expand-tra-link:active {
    background-color: #008eff;
    color: #fff;
    border: 2px solid #008eff;
}

.expand-tra-gui {
    margin-top: 15px;
    height: 20px;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
}

.expand-tra-gui i {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url("../images/expand-tra-col.png");
}

.expand-tra-gui a {
    color: #000;
}

.expand-tra-gui a:hover,
.expand-tra-gui a:active {
    text-decoration: underline;
    color: #008eff;
}

.expand-tra-reg {
    display: block;
    width: 236px;
    height: 52px;
    border: 2px solid #000;
    text-align: center;
    line-height: 52px;
    font-size: 16px;
    color: #313131;
    border-radius: 30px;
    text-decoration: underline;
    margin-bottom: 60px;
    font-weight: bold;
}

.expand-tra-reg:hover,
.expand-tra-reg:active {
    color: #fff;
    background-color: #008eff;
    border: 2px solid #008eff;
    text-decoration: underline;
}

.expand-tra-reg:link,
.expand-tra-reg:visited {
    text-decoration: underline;
}

.expand-put {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #404040;
    text-align: center;
}

.expand-put-hint {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #9b9b9b;
    text-align: center;
    margin-bottom: 30px;
}

.expand-fill {
    width: 100%;
}

.expand-fill-it {
    font-family: 'Microsoft YaHei';
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    color: #000;
}

.expand-fill-rows {
    font-family: 'Microsoft YaHei';
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    color: #000;
}

.expand-fill-txt {
    float: left;
    width: 360px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #404040;
    font-size: 16px;
    margin-right: 20px;
}

.expand-fill-in {
    float: left;
    display: inline;
    padding-left: 10px;
    width: 288px;
    height: 46px;
    border: 1px solid #cacdd3;
    border-radius: 4px;
    line-height: 46px;
    font-size: 16px;
}

.expand-fill-ar {
    font-family: 'Microsoft YaHei';
    float: left;
    display: inline;
    padding-left: 10px;
    width: 588px;
    height: 80px;
    border: 1px solid #cacdd3;
    border-radius: 4px;
    line-height: 30px;
    font-size: 16px;
}

.expand-fill-sub {
    float: left;
    display: inline;
    width: 300px;
    height: 48px;
    border-radius: 4px;
    line-height: 48px;
    font-size: 16px;
    background-color: #0078d7;
    color: #fff;
    text-align: center;
    outline: none 0;
    border: none 0;
}

.expand-fill-sub:hover {
    background-color: #0068ba;
}

.expand-loc-bg {
    background-color: #ebf2f7;
}

.expand-loc-title {
    color: #0078d7;
}

.expand-loc-txt {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #404040;
    text-align: center;
}

.expand-bold {
    font-weight: bold;
}

.expand-loc-img {
    width: 100%;
    margin: 30px 0;
}

.expand-topic-center {
    width: 644px;
    margin: 0 auto;
}

.expand-topic {
    font-size: 46px;
    line-height: 80px;
    padding: 40px 0;
    font-weight: bold;
    overflow: hidden;
    height: 80px;
}

.expand-topic-dec {
    float: left;
    width: 172px;
    height: 8px;
    overflow: hidden;
    margin-top: 36px;
    background: url("../images/expand-topic-dec.png") no-repeat 0 0;
}

.expand-topic-txt {
    float: left;
    width: 300px;
    text-align: center;
}

.expand-topic-dec-r {
    background-position: -182px 0;
}

.expand-ue-portrait-bar {
    width: 1200px;
    height: 650px;
}

.expand-ue-portrait-img {
    float: left;
    margin-top: 61px;
    width: 600px;
    height: 528px;
    background-image: url("../images/expand-ue-portrait-img.png");
}

.expand-vis-gat {
    width: 100%;
    height: 640px;
    position: relative;
}

.expand-vis-img {
    float: left;
    margin-top: 56px;
    width: 600px;
    height: 528px;
    background-image: url("../images/expand-vis-img.png");
}

.expand-vis-dec {
    float: right;
    width: 500px;
    color: #000;
    height: 640px;
    position: relative;
}