/*弹出框的样式*/
#powCodePopLayer {
    display: none;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    -moz-opacity: 0.4;
    opacity:.40;
    filter: alpha(opacity=40);/* 只支持IE6、7、8、9 */
}

/*二维码弹出框的样式*/
#powCodePopBox {
    display: none;
    background-color: #fff;
    border: 1px solid #4b4b4b;
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 7px;
    overflow: hidden;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.pow-code-front {
    width: 100%;
    height: 225px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.pow-code-front img {
    width: 100%;
    height: 100%;
}

.pow-code-scan {
    width: 100%;
    text-align: center;
}

.pow-code-scan img {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

.pow-code-slogan {
    color: #000;
    line-height: 30px;
}

.pow-code-close-bar {
    width: 100%;
    padding-right: 20px;
    text-align: right;
    box-sizing: border-box;
}

.pow-code-close-mt20 {
    margin-top: 20px;
}

.pow-code-close {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    color: #2c91ed;
    border: 2px solid #2c91ed;
    border-radius: 3px;
}

.pow-code-close:hover,
.pow-code-close:active {
    color: #fff;
    border: 2px solid #2c91ed;
    background-color: #46b6ea;
    background: -webkit-linear-gradient(#4ac6ff, #49a8ff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#4ac6ff, #49a8ff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#4ac6ff, #49a8ff); /* Firefox 3.6 - 15 */
    background: linear-gradient(#4ac6ff, #49a8ff); /* 标准的语法 */
}

/*语言弹出框的css样式*/
#powLanguageBox {
    display: none;
    background-color: #fff;
    border: 1px solid #4b4b4b;
    width: 600px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.pow-item-language-pop-limit {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}


.pow-item-language-pop {
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    color: #333;
    word-break: keep-all; /*决定单词内该怎么换行*/
    word-wrap:break-word; /*决定句尾放不下单词时，单词是否换行*/
}

.pow-item-language-pop span:after {
    content: "|";
    padding-left: 10px;
}

.pow-item-language-pop .pow-item-language-pop-last:after {
    content: "";
    padding-right: 0;
}

.pow-item-language-pop span {
    padding-right: 5px;
}

/*视频弹框的展示*/
#powScreenVideo {
    width: 960px;
    height: 540px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 10001;
    background-color: #fff;
}


/*评论弹出框的样式*/
#powCommentBox {
    display: none;
    background-color: #fff;
    box-shadow:0 0 20px rgba(0, 0, 0, .8);
    width: 900px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    z-index: 10002;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.pow-comment-title {
    width: 100%;
    height: 55px;
    background-color: #de3f05;
    position: relative;
}

.pow-comment-title h1 {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 55px;
    color: #fff;
    text-align: center;
}

.pow-comment-close {
    width: 18px;
    height: 18px;
    background: url("../images/h-close-pop.png");
    overflow: hidden;
    position: absolute;
    right: 30px;
    top: 19px;
}

.pow-comment-close:hover,
.pow-comment-close:active {
    background: url("../images/h-close-pop-hover.png");
}

.pow-comment {
    width: 100%;
    overflow: hidden;
}



.pow-comment-item {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.pow-comment-name {
    float: left;
    width: 12%;
    height: 40px;
    margin-right: 20px;
    line-height: 40px;
    text-align: right;
    color: #000;
    font-size: 14px;
}

.pow-comment-necessary {
    color: #de3f05;
    line-height: 40px;
}

.pow-comment-text {
    float: left;
    width: 75%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #000;
    outline: none 0;
    border: 1px solid #aaa;
    background-color: #efefef;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: border-box;
}

.pow-comment-text:hover,
.pow-comment-text:active {
    border: 1px solid #aaa;
    outline: none 0;
}

.pow-comment-star {
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

.pow-comment-star-singal {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url("../images/pow-star-singal.png");
    overflow: hidden;
    margin-right: 3px;
}

.pow-comment-star-disable {
    float: left;
    width: 20px;
    height: 20px;
    background-image: url("../images/pow-star-disable.png");
    overflow: hidden;
    margin-right: 3px;
}

.pow-comment-area {
    float: left;
    width: 75%;
    height: 200px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #000;
    outline: none 0;
    border: 1px solid #aaa;
    background-color: #efefef;
    font-size: 14px;
    border-radius: 2px;
    overflow-y: auto;
}

.pow-comment-area:hover,
.pow-comment-area:active {
    border: 1px solid #aaa;
    outline: none 0;
}

.pow-comment-result {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.pow-comment-submit{
    border: none 0;
    outline: none 0;
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #de3f05;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.pow-comment-submit:hover,
.pow-comment-submit:active {
    outline: none 0;
    border: none 0;
    background-color: #e95b27;
    color: #fff;
}

.pow-comment-cancel {
    display: inline-block;
    line-height: 40px;
    color: #666666;
}

.pow-comment-cancel:hover,
.pow-comment-cancel:active {
    text-decoration: underline;
}

#powCommentAnswer {
    width: 100%;
    margin-top: 20px;
}

.pow-comment-answer-box {
    width: 100%;
    text-align: center;
}

.pow-comment-answer {
    color: #666564;
    font-size: 16px;
    text-align: center;
    margin: 30px 0;
}

.pow-comment-answer-btn {
    display: inline-block;
    border: none 0;
    outline: none 0;
    width: 300px;
    height: 40px;
    background-color: #de3f05;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.pow-comment-answer-btn:hover,
.pow-comment-answer-btn:active {
    outline: none 0;
    border: none 0;
    background-color: #e95b27;
}










