.introBox {
    width: 1200px;
    margin: 0 auto;
}

.introBar {
    width: 1200px;
}

.introTxtBox {
    width: 1100px;
    margin: 0 auto;
}

.introProIndent {
    line-height: 24px;
    margin-top: 25px;
    color: #313131;
}

.introProIndent-First {
    margin-top: 0;
}

/*管理团队*/

.introManBox {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.introManPerson {
    margin-top: 40px;
}

.introManPersonFirst {
    margin-top: 0;
}

.introManBar {
    width: 100%;
    height: 240px;
    background: url("../images/intro/administrator-bg.png") no-repeat;
    overflow: hidden;
}

.introManImg {
    float: left;
    display: inline;
    width: 240px;
    height: 240px;
}

.introManTxtBar {
    float: left;
    display: table;
    width: 810px;
    height: 190px;
    margin-left: 75px;
    padding-top: 25px;
    position: relative;
}

.introManTxt {
/*    position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
    vertical-align: middle;
    display: table-cell;
}

.introManTxt p {
    text-indent: 2em;
    font-size: 13px;
    color: #404d83;
    line-height: 23px;
}

.introManName {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}

.introManLeader {
    font-size: 23px;
    line-height: 35px;
}

/*加入我们*/
.introJoinNav {
    float: left;
    display: inline;
    padding: 25px 0 25px 10px;
    width: 260px;
    background-color: #f3f4f9;
}

.introJoinItem {
    width: 100%;
    /*width: 180px;
    padding-left: 20px;*/
}

.introJoinItem h1 {
    font-size: 22px;
    font-weight: 600;
    color: #120061;
    line-height: 40px;
}

.introJoinTab {
    margin-bottom: 40px;
}

.introJoinTab li a{
    display: block;
    font-size: 13px;
    color: #848484;
    /*width: 180px;
    height: 40px;
    line-height: 40px;*/
    width: 100%;
    line-height: 20px;
    padding: 10px 0;
}

.introJoinTab li a:hover {
    background-color: #fff;
    color: #2558db;
}

.introJoinTab li .active {
    background-color: #fff;
    color: #2558db;
}

.introJoinContent {
    float: left;
    display: inline;
    width: 850px;
    margin-left: 80px;
}

.introJoinTitleTxt {
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
}

.introJoinPost {
    width: 100%;
    padding:25px 0;
    border-bottom:1px dashed #dbdbdb;
}

.introJoinPost h2 {
    font-size: 22px;
    color: #2558db;
    line-height: 40px;
}

.introJoinReq {
    font-size: 13px;
    color: #848484;
    line-height: 24px;
}

.introJoinDec {
    margin-top: 10px;
}

/*联系我们*/
.introContactMap {
    width: 1200px;
    height: 552px;
}

.introContactBox {
    width: 1200px;
    overflow: hidden;
}

.introContact {
    float: left;
    display: inline;
    width: 680px;
    padding-top: 20px;
}

.introContactSetBar {
    overflow: hidden;
}

.introContactSet {
    float: left;
    display: inline;
    width: 44px;
    height: 46px;
}

.introContactTxt {
    float: left;
    height: 46px;
    display: inline;
    line-height: 40px;
    font-size: 18px;
    color: #737472;
    font-weight: 600;
}

.introContactPeo {
    float: left;
    display: inline;
    width: 84px;
    height: 110px;
}

.introContactBtn {
    float: left;
    display: inline;
    width: 172px;
    height: 48px;
    margin-right: 24px;
    margin-top: 10px;
}

.introContactBtn a {
    display: block;
    background-color: #f44d4f;
    color: #fff;
    width: 172px;
    height: 48px;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}

.introContactBtn a:hover {
    background-color: #c82123;
}

.introContactMesBox {
    float: left;
    display: inline;
    font-size: 14px;
    color: #a0a0a0;
    line-height: 28px;
    margin-top: 15px;
}

.introContactMesBlue {
    color: #0078d7;
}

.introContact-code {
    float: left;
    display: inline;
    width: 520px;
    overflow: hidden;
}

.introContact-codeImg {
    float: left;
    width: 130px;
    height: 130px;
    margin-top: 60px;
}

.introContact-codeMes {
    float: left;
    /*width: 350px;*/
    width: 380px;
    margin-left: 10px;
    display: inline;
    font-size: 14px;
    color: #a0a0a0;
    line-height: 28px;
}

.introContact-addBox {
    width: 1200px;
    overflow: hidden;
}

.introContact-addTitle {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #3b3b3b;
    background-color: #e9e9e9;
    margin: 40px 0;
    font-weight: 600;
}

.introContact-addTitleTxt {
    padding-left: 20px;
}

.introContact-addBar {
    width: 1200px;
    overflow: hidden;
}

.introContact-addImg {
    float: left;
    display: inline;
    width: 200px;
    height: 200px;
}

.introContact-addItem {
    float: left;
    width: 970px;
    margin-left: 30px;
    height: 200px;
    display: table;
    margin-bottom: 15px;
}

.introContact-add {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #9b9b9b;
}

.introContact-addName {
    font-size: 18px;
    color: #313131;
    font-weight: 600;
    /*margin-bottom: 30px;*/
    line-height: 30px;
}

.introContact-addName-mB {
    font-size: 18px;
    color: #313131;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}

/*商务合作*/
.introBusTitle {
    width: 1200px;
    text-align: center;
    font-size: 32px;
    color: #313131;
    height: 50px;
    line-height: 50px;
    text-transform:capitalize;
}

.introBusItem {
    width: 1200px;
}

.introBusCol {
    width: 1200px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #3b3b3b;
    background-color: #e9e9e9;
    margin-top: 20px;
    font-weight: 600;
}

.introBusCol-special {
    margin-bottom: 20px;
}



.introBusColTxt {
    padding-left: 20px;
    text-transform:capitalize;
}

.introBusCon {
    width: 1200px;
}


.intro-topic-process {
    width: 1200px;
    /*height: 290px;*/
    height: 330px;
}

.intro-processBox {
    float: left;
    display: inline;
    width: 368px;
    /*height: 280px;*/
    height: 320px;
    border: 1px solid #e8e8e8;
    margin-right: 45px;
    -moz-box-shadow: 3px 3px 5px #c1c1c1; /* 老的 Firefox */
    box-shadow: 3px 3px 5px #c1c1c1;
    cursor: default;
}

.intro-processBox-last {
    margin-right: 0;
}

.intro-processTitle {
    width: 208px;
    height: 45px;
    padding-left: 20px;
    background-color: #0078d7;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 30px;
    color: #fff;
    -moz-box-shadow: 3px 3px 3px #c8c8c8; /* 老的 Firefox */
    box-shadow: 3px 3px 3px #c8c8c8;
}

.intro-process {
    padding: 20px 20px 0 20px;
    overflow: hidden;
}

.intro-process p {
    float: left;
    width: 235px;
    text-align: left;
}

.intro-process img {
    display: block;
    float: right;
    margin-top: 40px;
}

/*发展历程*/
.introHisItem {
    width: 1200px;
    height: 290px;
}

.introHisDate {
    float: left;
    display: table;
    width: 90px;
    height: 290px;
    color: #888888;
    font-size: 14px;
    text-align: center;
}

.introHisDate-center {
    display: table-cell;
    vertical-align: middle;
    line-height: 20px;
}

.introHisDate-center .introHisYear {
    font-size: 32px;
    color: #555555;
    font-weight: 600;
    line-height: 40px;
}

.introHisImgA {
    float: left;
    width: 556px;
    height: 290px;
}

.introHisTxtA {
    float: left;
    width: 514px;
    height: 290px;
    /*line-height: 60px;*/
    line-height: 20px;
    display: table;
}

.introHisTxtA-center {
    display: table-cell;
    vertical-align: middle;
}

.introHisTxtA-center h3 {
    margin-left: 30px;
    width: 484px;
    font-size: 16px;
    color: #313131;
    font-weight: 600;
}

.introHisList {
    padding-left: 30px;
    width: 484px;
}

.introHisList-every {
    padding-top: 10px;
    overflow: hidden;
}

.introHisList-disc {
    float: left;
    width: 4px;
    height: 4px;
    background-color: #313131;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 5px;
}

.introHisList-new {
    float: left;
    width: 470px;
}

.introHisDecB {
    float: left;
    display: inline;
    width: 72px;
    height: 290px;
}

.introHisTxtB {
    float: left;
    width: 484px;
    height: 290px;
    /*line-height: 60px;*/
    line-height: 20px;
    display: table;
}

.introHisTxtLineHeight {
    line-height: 50px;
}

.introHisTxtB-center {
    display: table-cell;
    vertical-align: middle;
}

.introHisTxtB-center h3 {
    width: 484px;
    font-size: 16px;
    color: #313131;
    font-weight: 600;
}

.introHisListB {
    width: 484px;
}

.introHisListB-every {
    overflow: hidden;
    padding-top: 10px;
}

.introHisListB-disc {
    float: left;
    width: 4px;
    height: 4px;
    background-color: #313131;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 5px;
}

.introHisListB-new {
    float: left;
    width: 470px;
}

.introHisImgB {
    float: left;
    display: inline;
    width: 514px;
    height: 290px;
}














