/*数据中心二级分页面*/

.recRankBg {
    background-color: #0078d7;
}

.recRankBar {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.recRank {
    overflow: hidden;
}

.recRank li {
    float: left;
    width: 25%;
    height: 120px;
    overflow: hidden;
    background-color: #0078d7;
}

.recRank .active {
    background-color: #258fe7;
}

.recRank li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.recRank li a .recRankIcon {
    width: 80px;
    height: 60px;
    padding-top: 20px;
    margin: 0 auto;
    background-image: url("../images/records/recRank-1.png");
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.recRank li a .recRankIcon-2{
    background-image: url("../images/records/recRank-2.png");
}

.recRank li a .recRankIcon-3{
    background-image: url("../images/records/recRank-3.png");
}

.recRank li a .recRankIcon-4{
    background-image: url("../images/records/recRank-4.png");
}

.recRank .active a .recRankIcon{
    background-image: url("../images/records/recRank-11.png");
}

.recRank .active a .recRankIcon-2{
    background-image: url("../images/records/recRank-22.png");
}

.recRank .active a .recRankIcon-3{
    background-image: url("../images/records/recRank-33.png");
}

.recRank .active a .recRankIcon-4{
    background-image: url("../images/records/recRank-44.png");
}

.recRankLink p {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    text-align: center;
}

.recRankSplit {
    position: absolute;
    top: 20px;
    right: 0;
    width: 2px;
    height: 80px;
    background-color: #238ce3;
}

.recCon {
    display: none;
}

.recMain {
    width: 100%;
    margin-top: 20px;
}

.recBox {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*左边内容部分*/
.recClassBox {
    float: left;
    display: inline;
    width: 230px;
    margin-right: 20px;
}

.recClassBar {
    border: 1px solid #dde0e2;
    background-color: #f1f4f7;
    width: 228px;
}

.recClassBar li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dde0e2;
}

.recClassBar li a {
    display: block;
    width: 210px;
    padding-left: 18px;
    height: 50px;
    line-height: 50px;
    color: #646566;
    background-color: #edf1f5;
}

.recClassBar li a:hover,
.recClassBar li a:active {
    background-color: #0078d7;
    color: #fff;
}

.recClassBar .current a {
    background-color: #0078d7;
    color: #fff;
}
    /*右边内容的部分*/

.recShowBox {
    float: right;
    display: inline;
    width: 950px;
}

.recShow {

    width: 950px;
    overflow: hidden;
    display: none;
}

.recShowTitle {
    width: 930px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #0078d7;
    background-color: #edf1f5;
    border-bottom: 1px solid #dde0e2;
}

.recShowBar {
    width: 950px;
    overflow: hidden;
}

.recShowGuide {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #646566;
    border-left: 4px solid #349ae7;
    padding-left: 10px;
    margin-top: 20px;
}

.recShowGuide .recShowGuide-help {
    font-size: 12px;
    color: #888;
    font-weight: normal;
    margin-left: 25px;
}

.recShowAct {
    margin: 30px 0;
}

.recShowSource {
    width: 800px;
    text-align: center;
}

.recShowSource span{
    font-size: 12px;
    color: #888;
    font-weight: normal;
    line-height: 12px;
}

.recWinKList {
    width: 910px;
    margin: 20px 20px;
}

.recWinKList ul {
    width: 100%;
}

.recWinKItem {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: #313131;
    overflow: hidden;
}

.recWinKDot {
    float: left;
    display: inline;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #313131;
    margin-right: 10px;
    margin-top: 18px;
}

.recWinTitle {
    float: left;
    display: inline;
    width: 800px;
}

.recWinDate {
    float: right;
    display: inline;
    width: 90px;
    text-align: right;
}

.recWinKItem:hover {
    color: #0078d7;
}

.recWinKItem:hover .recWinKDot {
    background-color: #0078d7;
}

.recWinKSep {
    width: 100%;
    height: 1px;
    background-color: #dde0e2;
}