/*唯一的注释方式*/
/*
常用标签：div,img,ul,li,a,span,form,input
css命名一般不采用下划线
*/

/*nav导航栏*/
.header {
    width: 100%;
    height: 60px;
    background-color: #fdfdfd;
}

.topBox {
    width: 1200px;
    margin: 0 auto;
}

.logoBox {
    float: left;
}

.logoBox .logo {
    width: 226px;
    height: 60px;
    border: none 0;
}

.navBox {
    float: right;
}

.navWrap {

}

.nav-item {
    float: left;
    display: inline;
    margin-left: 13px;
}

.nav-itemTxt {
    font-size: 18px;
    line-height: 60px;
    padding: 0 10px;
}

.nav-itemTxt:hover,
.nav-itemTxt:active {
    color: #0078d7;
}

.sub-navBox {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #313131;
    display: none;
    z-index: 10000;
}

.sub-nav {
    width: 1200px;
    padding-left: 363px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sub-nav li {
    float: left;
    margin-right: 5px;
    line-height: 40px;
}

.sub-nav li a {
    display: block;
    padding: 0 10px;
    font-size: 14px;
    color: #aeaeae;
}

.sub-nav li a:hover,
.sub-nav li a:active {
    color: #fff;
}

/*banner广告条*/
.bannerBox {
    width: 100%;
    height: 430px;
}

.bannerBox ul li {
    width: 100%;
    height: 430px;
}

.bannerWrap1 {
    background: #0078d7 url("../images/banner-1.jpg") no-repeat center center;
}

.indexBtn1 {
    width: 1200px;
    height: 430px;
    margin: 0 auto;
    position: relative;
}

.indexBtn1 a {
    display: block;
    width: 180px;
    height: 80px;
    background: url("../images/indexBtn1-normal.png") no-repeat top left;
    position: absolute;
    top: 270px;
    left: 44px;
}

.indexBtn1 a:hover {
    background: url("../images/indexBtn1-click.png") no-repeat top left;
}

/*中心内容*/
.index-main {
    width: 100%;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.main-wel {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}

.main-coo {
    font-size: 16px;
    text-align: center;
}

.main-advantageBox {
    margin-top: 50px;
    overflow: hidden;
}

.main-advantage {
    float:left;
    width: 500px;
    padding-left: 100px;
}

.main-advantage h3 {
    overflow: hidden;
}

.main-advantage h3 i {
    float: left;
    font:italic bold 32px/40px 'Microsoft YaHei';
    color:#0078d7;
    margin-right: 20px;
}

.main-advantage h3 span {
    float: left;
    font-size: 16px;
    padding-top: 18px;
    font-weight: bold;
}

.main-advantage p {
    font-size: 13px;
    font-weight: bold;
}

.main-container-center {
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.main-titleBox {
    width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
}

.main-titleBoxL {
    width: 660px;
}

.main-mod-left {
    float: left;
    width: 130px;
    height: 2px;
    background-color: #313131;
    margin-top: 23px;
    margin-right: 20px;
}

.main-title {
    float: left;
    width: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}

.main-titleL {
    width: 360px;
}

.main-mod-right {
    float: left;
    width: 130px;
    height: 2px;
    background-color: #313131;
    margin-top: 23px;
    margin-left: 20px;
}

.main-topic {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

/*.main-provideWrap {
    float: left;
    display: inline;
    width: 25%;
    height: 200px;
    overflow: hidden;
}*/

.main-provideBox {
    display: block;
    float: left;
    width: 280px;
    height: 196px;
    border: 1px solid #e8e8e8;
    margin-right: 24px;
    box-sizing: border-box;
}

.main-provideBox-last {
    margin-right: 0;
}

.main-provideBox:hover,
.main-provideBox:active {
    border:1px solid #0078d7;
}

.main-provideIcon {
    float: left;
    display: inline;
    margin:65px 6px 0 6px;
}

.main-provide {
    float: left;
    width: 175px;
}

.main-provide em {
    display: block;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.main-provide p {
    text-align: left;
    line-height: 20px;
}

.main-topic-process {
    height: 230px;
}

.main-processBox {
    float: left;
    display: inline;
    width: 368px;
    height: 220px;
    border: 1px solid #e8e8e8;
    /*box-sizing: border-box;*/
    margin-right: 45px;
    -moz-box-shadow: 3px 3px 5px #c1c1c1; /* 老的 Firefox */
    box-shadow: 3px 3px 5px #c1c1c1;
}

.main-processBox-last {
    margin-right: 0;
}

.main-processBox:hover,
.main-processBox:active {
    border: 1px solid #0078d7;
}

.main-processTitle {
    width: 208px;
    height: 45px;
    padding-left: 20px;
    /*box-sizing: border-box;*/
    background-color: #0078d7;
    font-size: 32px;
    line-height: 45px;
    margin-top: 30px;
    color: #fff;
    -moz-box-shadow: 3px 3px 3px #c8c8c8; /* 老的 Firefox */
    box-shadow: 3px 3px 3px #c8c8c8;
}

.main-process {
    padding: 20px 20px 0 20px;
    overflow: hidden;
}

.main-process p {
    float: left;
    width: 235px;
    text-align: left;
}

.main-process img {
    display: block;
    float: right;
    margin-top: 20px;
}

.main-topic-games {
    height: 342px;
    margin-bottom: 40px;
}

.main-gamesBox {
    width: 376px;
    height:338px;
    margin-right: 36px;
    overflow: hidden;
    -moz-box-shadow: 3px 3px 5px #c1c1c1; /* 老的 Firefox */
    box-shadow: 3px 3px 5px #c1c1c1;
    display: block;
    float: left;
    box-sizing: border-box;
}

.main-gamesBox-last {
    margin-right: 0;
}

.main-gamesImg {
    width: 376px;
    height: 195px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.main-gamesImg img {
    width: 376px;
}

.main-gamesWrap {
    width: 100%;
    height: 143px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-top: 0;
}

.main-gamesTitle{
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    padding: 20px 0;
}

.main-games{
    width: 330px;
    height: 65px;
    margin: 0 auto;
    text-align: left;
}

.main-gamesMore {
    display: block;
    width: 278px;
    height: 54px;
    background-color: #0078d7;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 54px;
    margin: 0 auto;
}

.main-gamesMore:hover,
.main-gamesMore:active {
    background-color: #0080e5;
    text-decoration: underline;
}

.main-topic-customer {
    height: 340px;
}

.main-customer {
    width: 1190px;
    height: 330px;
    margin: 5px auto;
    -moz-box-shadow: 0 0 10px #c1c1c1; /* 老的 Firefox */
    box-shadow: 0 0 10px #c1c1c1;
    box-sizing: border-box;
    overflow: hidden;
}

.main-customer-img {
    display: block;
    float: left;
    width: 260px;
    height: 260px;
    margin: 35px 35px;
    text-align: center;
    vertical-align: middle;
}

/*.main-customer-imgR {
    float: right;
}*/

.main-customer-img img {
    width: 260px;
}

.main-customer-info {
    float: left;
    /*margin-right: 35px;*/
    width: 825px;
}

.main-customer-infoL {
    margin-left: 35px;
}

/*.main-customer-infoL {
    float: left;
}*/

.main-customer-info h3 {
    font-size: 32px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
}

.main-customer-infoL h3 {
    text-align: right;
}

.main-customer-info h4 {
    font-size: 20px;
    height: 70px;
    line-height: 70px;
}

.main-customer-infoL h4 {
    text-align: right;
}

.main-customer-info p {
    text-align: left;
}

.main-brand {
    overflow: hidden;
}

.main-brand li {
    float: left;
}

/*首页宣传图*/
.bottom-publicBox {
    width: 100%;
    height:188px;
    margin-top: 50px;
    background: url("../images/bottomPublic.png") no-repeat center center;
}

/*首页底部*/
.bottomBox {
    width: 100%;
    background: #313131;
}

.bottom {
    width: 1200px;
    padding: 40px 0;
    margin: 0 auto;
    overflow: hidden;
}

.bottomItem {
    float: left;
    display: inline;
    width: 358px;
    height: 300px;
    padding-left: 40px;
    border-right: 2px solid #fff;
    /*box-sizing: border-box;*/
}

.bottomItemLast {
    border-right: none 0;
}

.bottomItem h2 {
    height: 35px;
    margin-bottom: 10px;
    line-height: 35px;
    font-size: 30px;
    color: #fff;
}

.bottomCtn {
    width: 100%;
    font:normal normal 18px/40px 'Microsoft YaHei';
}

.bottomCtn li a {
    color:#bababa;
}
.bottomCtn li a:hover,
.bottomCtn li a:active{
    color:#fff;
}

.bottomCtnSmall {
    width: 100%;
    font:normal normal 18px/40px 'Microsoft YaHei';
    overflow: hidden;
}

.bottomCtnSmall li {
    float: left;
    width: 50%;
}

.bottomCtnSmall li a {
    color:#bababa;
}

.bottomCtnSmall li a:hover,
.bottomCtnSmall li a:active{
    color:#fff;
}