/*GWGC头部nav部分*/
.tabBox {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    z-index: 2000;
    /*background: url("../images/transBg80.png") repeat-x;*/
    background-color: #000;
    background-color: rgba(0,0,0,.6);
}

.tabBar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.tabLogo {
    float: left;
    height: 60px;
}

.tabLogo a {
    display: block;
    height: 40px;
    margin-top: 10px;
}

.tabLogo a img {
    display: block;
    height: 40px;
    vertical-align: middle;
}

.tabCont {
    float: right;
    overflow:hidden;
}

.tabInc {
    float: left;
    overflow: hidden;
}

.tabInc li {
    float: left;
    display: inline;
}

.tabInc li a {
    display: block;
    /*font-size: 18px;*/
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 20px 15px;
}

.tabInc li a:hover,
.tabInc li a:active {
    background-color: #0584e9;
}

.tabLan {
    float: left;
    overflow: hidden;
}

.tabLan a {
    float: left;
    display: inline;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    padding: 20px 15px;
}

.tabLan .tabLan-cur {
    color: #b3b3b3;
}

.tabLan a:hover,
.tabLan a:active {
    background-color: #0584e9;
    color: #fff;
}

.tabLan span {
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #414141;
    font-size: 0px;
    line-height: 0px;
    margin-top: 28px;
}

/*GWGC轮播图部分*/
.devCarousel {
    display: block;
    width: 100%;
    height: 100%;
}
.devCarousel img{
    display: block;
    width: 100%;
    height: 100%;
}

/*第二屏*/
.fp-tableCell {
    vertical-align: top;
}

.devPartBg-pic {
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url("../images/gwgc-serveBg.jpg") no-repeat center 0;
}

.devPartBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.devPartBg img {
    width: 100%;
    height: auto;
}

.devPart {
    position: relative;
}

.devPartTitle {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    font-weight: 700;
    color: #262a2d;
    padding-top: 75px;
}

.devPartTitle-white {
    color: #fff;
}


.devPartCon {
    width: 100%;
    padding:75px 4% 0 4%;
    box-sizing: border-box;
    text-align: center;
}

.devPartValue {
    display: block;
    float: left;
    width: 25%;
}

.devPartImg {
    padding-left: 20%;
    padding-right: 20%;
}

.devPartImg img {
    max-width: 100%;
}

.devPartValue h4 {
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #595c5e;
    font-weight: 500;
}

.devServeBox {
    width: 100%;
    padding: 75px 3% 0 3%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.devServeBar {
    display: block;
    float: left;
    width: 20%;
}

.devServeValue {
    display: block;
    margin: 0 4%;
    padding: 75px 0;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid #fff;
}

.devPartImg-L {
    padding-left: 30%;
    padding-right: 30%;
}

.devPartImg-L img {
    max-width: 100%;
}

.devServeValue h4 {

    text-align: center;
    /*font-size: 30px;
    padding-top: 75px;*/
    padding-top: 30px;
    height: 150px;
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    font-weight: 500;
    word-break: keep-all; /*决定单词内该怎么换行*/
    word-wrap:break-word; /*决定句尾放不下单词时，单词是否换行*/
}

.devStepBox {
    width: 100%;
    padding:50px 4% 0 4%;
    box-sizing: border-box;
    text-align: center;
}

.devStepValue {
    display: block;
    float: left;
    width: 15%;
}

.devStepImg {
    padding-left: 25%;
    padding-right: 25%;
}

.devStepImg img {
    max-width: 100%;
}

.devStepValue h4 {
    padding-top: 35px;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    color: #262a2d;
    font-weight: 700;
}

.devStepValue p {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #4e5357;
}

.devStepDe {
    display: block;
    float: left;
    width: 5%;
    box-sizing: border-box;
}

.devStepImg-Dec {
    padding: 50% 40%;
}

.devStepImg-Dec img {
    display: block;
    max-width: 100%;
}

.devStepLinkBox {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
}

.devStepLinkBar {
    width: auto;
    text-align: center;
}

.devStepLinkBox a {
    display: inline-block;
    min-width: 120px;
    padding: 10px 16px;
    font-size: 22px;
    line-height: 1.3em;
    color: #4e5357;
    border: 1px solid #4e5357;
    border-radius: 6px;
    text-align: center;
    margin: 0 40px;
    box-sizing: border-box;
}

.devStepLinkBox a:hover,
.devStepLinkBox a:active{
    background-color: #0078d7;
    color: #fff;
    border: 1px solid #0078d7;
}

.devActiveBox {
    width: 100%;
    height: 100%;
}

.devActiveBar {
    width: 100%;
    height: 86%;
    overflow: hidden;
}

.devActiveItem {
    float: left;
    width: 25%;
    height: 43%;
    overflow: hidden;
    background-color: #0f8bed;
    box-sizing: border-box;
}

.devActiveItem1 {
    background-image: url("../images/devActiveImg-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.devActiveItem2 {
    background-image: url("../images/devActiveImg-2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.devActiveItem3 {
    background-image: url("../images/devActiveImg-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.devActiveItem4 {
    background-image: url("../images/devActiveImg-4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.devActiveBg {
    width: 100%;
    height: auto;
    /*vert-align: middle;*/
}

.devActiveItem p {
    width: 100%;
    color: #fff;
    text-align: center;
}

.devActiveItemT {
    font-size: 24px;
    padding-top: 70px;
}

.devActiveItemCon {
    font-size: 20px;
    padding-top: 30px;
}

.devActiveMore {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.devActiveMore a {
    display: inline-block;
    min-width: 120px;
    padding: 10px 16px;
    font-size: 22px;
    line-height: 1.3em;
    color: #4e5357;
    border: 1px solid #4e5357;
    border-radius: 6px;
    text-align: center;
    margin: 0 40px;
    box-sizing: border-box;
}


.devActiveMore a:hover,
.devActiveMore a:active{
    background-color: #0078d7;
    color: #fff;
    border: 1px solid #0078d7;
}

.devAboutBox {
    width: 100%;
    padding:75px 4% 0 4%;
}

.devAboutTitle {
    width: 12.5%;
    overflow: hidden;
}

.devAboutTitle img {
    width: 100%;
    height: auto;
}

.devAboutSli {
    width: 92%;
    height: 1px;
    background-color: #4e5357;
}

.devAboutContent {
    width: 92%;
}

.devAboutContent p {
    padding:0 20px;
    font-size: 20px;
    line-height: 30px;
    color: #060809;
    margin-top: 10px;
    text-indent: 40px;
}

/*联系我们*/
.devContactBox {
    width: 100%;
    padding:35px 4% 0 4%;
    box-sizing: border-box;
}

.devContactBar {
    width: 45%;
    margin: 0 auto;
}

.devContactOver {
    width: 100%;
    overflow: hidden;
}

.devContactItem {
    width: 25%;
    float: left;
    display: inline;
    text-align: center;
    overflow: hidden;
}

.devContactItem img {
    width: 50%;
    height: auto;
}

.devContactTit {
    width: 100%;
    color: #313131;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.devContactTitDec {
    width: 50px;
    height: 3px;
    background-color: #0078d7;
    margin: 10px auto;
}

.devContactItemCener {
    width: 50%;
    float: left;
    display: inline;
    text-align: center;
    overflow: hidden;
}

.devContactItemCener img {
    width: 50%;
    height: auto;
}

.devContactTxt {
    width: 100%;
    overflow: hidden;
}

.devContactCon {
    width: 25%;
    float: left;
    display: inline-block;
    font-size: 16px;
    color: #747b80;
    text-align: center;
}

.devContactConCenter {
    width: 50%;
    float: left;
    display: inline-block;
    font-size: 16px;
    color: #747b80;
    text-align: center;
}


/*底部内容*/
.devBottomBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #313131;
    padding: 10px 0;
    color: #e1e1e1;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}